body{
    background: #FFB084;

}

.container{
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;

    display: grid;
    grid-template-columns: 250px 189px 189px;
    grid-template-areas:
    "a b b"
    "a c d"
    "a e d"
    "f e g";

    gap: 20px;
    justify-content: center;
    padding: 40px 0;

    grid-auto-flow: column;
}

.inner-grid-block{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 15px 25px;
}

.about__img{
    text-align: center;

}

span{
    font-weight: 600;
}

.inner-grid-block>div>div:not(.personality>:nth-child(2),.personality>:nth-child(3),.personality>:nth-child(4),.bio__subtitle){
    font-weight: 700;
}

.goals>div{
    color: #29A71E;
}

.dream_companies>div{
    color: #3675B0;
}

.frustrations>div{
    color: #E13535;
}

.bio__title, .personality>:first-child{
    line-height: 2;
}

.container>:nth-child(1){
    grid-area: a;

    line-height: 2;
    box-shadow: 7px 7px 0 #000000;
}
.container>:nth-child(1) li:nth-child(2){
    display: inline-block;
}

.container>:nth-child(1) ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.about__title{
    font-size: 24px;
}

.container>:nth-child(2){
    grid-area: b;

    box-shadow: 7px 7px 0 #000000;

}
.container>:nth-child(3){
    grid-area: c;

    box-shadow: 7px 7px 0 #29A71E;
}


.container>:nth-child(4){
    grid-area: d;

    box-shadow: 7px 7px 0 #E13535;
}
.container>:nth-child(5){
    grid-area: e;

    box-shadow: 7px 7px 0 #3675B0;
}
.container>:nth-child(6){
    grid-area: f;

    font-weight: 700;
    box-shadow: 7px 7px 0 #000000;
}
.container>:nth-child(7){
    grid-area: g;

    box-shadow: 7px 7px 0 #000000;
}
