html{
    font-size: 20px;
}
body{
    font-family: 'Poppins', sans-serif;

    background-color: #212529;
}

body, nav{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 48px;
    font-weight: 600;
    font-size: 0.9rem;
}


li.nav__item>a, .hire__btn{
    text-transform: capitalize;

    text-decoration: none;
    color: #fff;
    padding: 12.5px;
    box-sizing: border-box;
    transition:all .3s;
}

li.nav__item>a:hover{
    color: #FFB742;
}

.nav{
    display: flex;
    list-style: none;

}

.hire__btn{
    background: #FFB742;
    color: #212529;
    padding: 12px 26px;
    border-radius: 40px;
    font-weight: 700;

}

.main{
    display: flex;

    font-family: 'Inter', sans-serif;
    color: #ffffff;
    justify-content: space-evenly;
    padding-top: 108px;
}

.information{
    text-align: center;

}

.info__suptitle{
    font-size: 1.6rem;
    font-weight: 700;
}

.info__suptitle>a{
    transition: .3s linear;

    /*transition: all .3s;*/
    text-decoration: none;
    color: #fff;
}

.info__suptitle>a:hover{
    color: #FFB742;
    text-decoration: underline;
}

.info__title{
    font-size: 2.4rem;
    font-weight: 700;
}

.info__text{
    font-size: 1.2rem;
    font-weight: 400;
    padding: 25px 0;

}


                        /*CARD*/


.card__section{
    display: flex;
    justify-content: space-evenly;

    font-family: 'Inter', sans-serif;
    padding-top: 136px;
    max-width: 1300px;
    margin: 0 auto;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;
    width: 416px;
    height: 120px;
    background: #292B2E;
    box-sizing: border-box;
    padding: 0 30px;
    line-height: 1.3;
    border-radius: 10px;
    margin: 0 12px;

    transition: all .3s;
}

.card:hover .card__arrow path{
    fill: black;

}

.card__title{
    color: #FFB742;
    font-size: 1.6rem;
    font-weight: 700;
}

.card__subtitle{
    font-size: 0.8rem;
    color: #fff;
}

                            /*CARD   HOVER*/

.card:hover{
    background-color: #FFB742;
    color: black;
}


.card:hover .card__text>div{
    color: black;
}




                                    /*ABOUT*/

.about{

    display: flex;
    padding-top: 136px;
    align-items: center;
    justify-content: center;

    color: #fff;
}

.about__item{
    max-width: 35rem;
}

.who, .my__works{
    width: 148px;
    background-color: #292B2E ;
    border-radius: 50px;

    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFB742;
    line-height: 2;

}

.about__title, .works__title{
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    color: #FFF;
}

.about__text{
    color: #D4D4D4;
    font-weight: 400;
    font-size: 0.8rem;
    padding: 30px 0 50px 0;

}

.works__section{
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1300px;
    margin: 0 auto;
    padding: 80px 0 120px 0;
}

.works__category{
    display: flex;


    font-size: 0.8rem;
    font-weight: 600;
    max-width: 652px;
    color: #FFF;
    text-transform: capitalize;

    padding: 30px 0 50px 0;
}

.work__item{
    padding: 12px;

    transition: .3s;
}

.work__item:hover{
    background-color: #FFB742;
    color: #000;
    border-radius: 3px;
}

.gallery>img{
    padding: 15px;
}

.footer{
    display: flex;
    justify-content: space-around;

    font-family: 'Work Sans', sans-serif;

    height: 470px;
    background-color: #1C1C1C;
}

.footer__item{
    display: flex;
    flex-direction: column;

    padding-top: 148px;
    line-height: 2;
}

.footer__item>a{

    text-decoration: none;
    color: #7B7B7B;
    font-size: .9rem;
    font-weight: 500;
}

.footer__name{
    font-size: 1.6rem;
    color: #FFB742;
    font-weight: 700;
}

.link__title{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: #fff;

}

.footer__inf{
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: .8rem;
}

.footer__item>a:active{
    color: #FFB742;
}
