body,html{
    width: 100%;
    height: 100%;
    font-family: 'Rosario', sans-serif;
    font-size: 20px;


    margin: 0;
    padding: 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F7F7F7;
}



.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}

div>img{
    width: 100%;
    height: 100%;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    width: 100%;

    background: #000 no-repeat;
    z-index: 100;
}

.logo{
    background: #FFFBFB no-repeat;
    padding-left: 10px;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}


.nav__link>a{
    font-size: 1.8em;
    text-decoration: none;
    color: #FFFCFC;
    padding: 15px 25px 15px 35px;
}

.header__icon{
    display: none;
}



                                            /*GALLERY*/


.gallery-block{

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}


.gallery-block>img{
    width: 19%;
    padding: 0 4%;
    height: auto;

}

.gallery-block__group{
    width: 24%;
}

.gallery-block__group>img{
    width: 100%;
}

.gallery-block>div:nth-child(2){
    margin-right: 1%;
}

.gallery-block__group :first-child{

    padding-bottom: 8%;

}

                                                                                        /*ANIMATION__GALLERY*/

@keyframes first-group-animate{
    0%{
        transform: translateX(-500vw);
    }

    100%{
        left: 0;
    }

}

@keyframes second-group-animate{
    0%{
        transform: translateX(500vw);
    }

    100%{
        left: 0;
    }
}


.gallery-block>:nth-child(1),.gallery-block>:nth-child(2){

    position: relative;

    animation-name: first-group-animate;
    animation-duration: 3s;
}

.gallery-block>:nth-child(3),.gallery-block>:nth-child(4){

    position: relative;

    animation-name: second-group-animate;
    animation-duration: 3s;
}

.gallery-block>div{
    animation-delay: -1.5s;
}

                                    /*SERV*/


.services-block{
    display: flex;
    justify-content: space-between;
    font-style: italic;
    font-size: 2.4em;
    font-weight: 700;
    align-items: center;
    width: 100%;
}

.services__item{
    position: relative;
    text-align: center;
    display: inline-block;
    padding-left: 5%;

    animation-duration: 10s;

    animation-iteration-count: infinite;
}

.services__item{
    width: 37%;
    white-space: nowrap;
}

.services-block>div{
    width: 50%;
}

.services-block__items>div:first-child, .services-block__items>div:nth-child(3){
    padding: 0 5% 5% 8%;
}



                                                                    /*SERV-ANIMATION*/

.services__item:first-child{
    animation-name: circle1-animate;                     /*p*/
}

.services__item:nth-child(2){
    animation-name: circle2-animate;
}

.services__item:nth-child(3){
    animation-name: circle3-animate;                     /*p*/
}

.services__item:last-child{
    animation-name: circle4-animate;
}


@keyframes circle1-animate {                             /*p*/
    0%{
        transform: translate(0);

    }

    25%{
        transform: translate(98%, 0);
    }

    50%{
        transform: translate(98%, 100%);
    }

    75%{
        transform: translate(0, 100%);
    }

}


@keyframes circle2-animate {
    0%{
        transform: translate(0);

    }

    25%{
        transform: translate(0, 110%);
    }

    50%{
        transform: translate(-118%, 110%);
    }

    75%{
        transform: translate(-118%, 0);
    }

}


@keyframes circle3-animate {                             /*p*/
    0%{
        transform: translate(0);

    }

    25%{
        transform: translate(0, -100%);
    }

    50%{
        transform: translate(98%, -100%);
    }

    75%{
        transform: translate(98%, 0);
    }

}

@keyframes circle4-animate {
    0%{
        transform: translate(0);

    }

    25%{
        transform: translate(-118%, 0);
    }

    50%{
        transform: translate(-118%, -110%);
    }

    75%{
        transform: translate(0, -110%);
    }

}


        /*CARD-section*/


.cards__title{
    font-size: 4.8em;
    font-weight: 700;
    text-align: center;
    padding-bottom: 45px;
}

.card-section__items{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.card-section__items>div{
    position: relative;
    margin: 0 5px;

    border-radius: 50px;
    overflow: hidden;
    transition: opacity 1.2s ease-out;
    width: 22%;
}

.card-section__items>div::after{
    content: attr(id);
    position: absolute;
    font-family: 'Volkhov', serif;
    color: #FFFAFA;
    text-align: center;
    line-height: 3;
    font-size: 2.4em;
    left: 0;
    right: 0;
    bottom: 0;
    background: #A3530A no-repeat;
    height: 150px;
    opacity: 0;
    transition: all .5s ease;
}

.card-section__items>div:hover::after{

    opacity: .7;
}



                        /*CONTACT-section*/


.contact-section__block{
    display: flex;

    justify-content: space-around;
    align-items: center;
    width: 100%;



}



.contact-section__title {
    text-align: center;
    font-size: 3.2em;
    font-style: italic;
    font-weight: 700;
    padding-bottom: 11%;
}

.contact-section__group{
    width: 38%;
}


.form {
    background: #E5E5E5 no-repeat;
    box-sizing: border-box;
    height: 30vw;
    padding: 0 40px;
    overflow: hidden;
}

.form>div:first-child{
    display: flex;
    padding: 5% 0;
}
.form label:first-of-type{
    margin-right: 40px;
}

input, textarea{
    font-family: inherit;
    border: none;

    font-size: 1.8em;
    font-weight: 700;

    width: 100%;
}


.map__coordinates{
    width: 45%;
    height: 40vw;
    border: 2px black solid;
    overflow: hidden;
    box-sizing: border-box;
}

.map__coordinates>iframe{
    display: block;
    width: 100%;
    overflow: hidden;
    height: 100%;

}



.form textarea {
    resize: none;
    max-height: 71%;
}


/*Footer*/

.footer-inner-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    padding: 200px 0 20px 0;
}

.foot-inner__column{
    width: 27%;
    line-height: 1.5;
    text-align: center;
}

.column__link, .column__date{
    font-weight: 600;
    font-style: italic;
}


.foot-inner__column a{
    position: relative;
    text-decoration: none;
    color: #000;
    word-wrap: break-word;
}

.column__title{
    font-size: 1.8em;
    font-weight: 700;
    padding-bottom: 20px;
}

a[id="instagram"]::before{
    content: '';
    position: absolute;
    background: url("../images/footer/inst.svg") no-repeat;
    width: 26px;
    height: 26px;

    left: -43px;
    top: 5px;

}

a[id="facebook"]::before{
    content: '';
    position: absolute;
    background: url("../images/footer/face.svg") no-repeat 50%;
    width: 26px;
    height: 26px;

    left: -43px;
    top: 5px;

}

a[id="twitter"]::before {
    content: '';
    position: absolute;
    background: url(../images/footer/twit.svg) no-repeat 50%;
    width: 40px;
    height: 26px;
    left: -48px;
    top: 5px;
}




@media screen and (max-width: 1640px){
    .services-block{
        font-size: 2em;
    }
}


@media screen and (max-width: 1430px){
    .nav__link>a{
        font-size: 1.3em;
        padding: 15px 15px 15px 7px;
    }


    .services-block{
        font-size: 1.6em;
    }
    .cards__title{
        font-size: 4em;
    }
    .contact-section__title{
        font-size: 2.8em;
    }


    input, textarea{
        font-size: 1.1em;
    }

}

@media screen and (max-width: 1260px){
    .services-block{
        font-size: 1.4em;
    }
}

@media screen and (max-width: 992px){

    .container{
        padding-top: 25%;
    }

    .header__inner{
        align-items: baseline;
        height: 134px;
    }


    .header__icon{
        display: block;
        background: url("../images/header/bar.svg") no-repeat 50%;
        background-size: 76px;
        height: 125px;
        width: 110px;

    }

    .header__icon:hover+ul{
        display: flex;

    }

    .nav{
        display: none;
        position: absolute;
        flex-direction: column;
        background: #000 no-repeat;
        top: 84%;
        right: 0;
        transition: all .3s;
    }
    .nav>li{
        padding-top: 30%;
    }

    .nav>li:last-child{
        padding-bottom: 20%;
    }

    .gallery-block{

        justify-content: center;
        flex-wrap: wrap;
    }

    .gallery-block>:nth-child(2){
        width: 45%;
        order: 1;
    }

    .gallery-block>:nth-child(3){
        width: 45%;
        order: 2;
    }

    .gallery-block>:first-child{
        width: 40%;
        order: 3;
        padding-top: 4%;
    }

    .gallery-block>:nth-child(4){
        width: 40%;
        order: 4;
        padding-top: 4%;
    }


    .services-block{
        flex-direction: column-reverse;
        font-size: 2em;
    }

    .services__image{
        width: 100% !important;
        padding-bottom: 10%;
    }

    .services-block__items{
        width: 100% !important;

    }

    .card-section__items{
        flex-wrap: wrap;
        align-items: center;
    }
    .card-section__items>div{
        width: 45% ;
    }

    .contact-section__block{
        flex-direction: column;
    }

    .form{
        height: 60vw;
        margin-bottom: 10%;
    }

    .contact-section__group, .map__coordinates {
        width: 80%;
    }

    .map__coordinates{
        height: 60vw;
    }

}

@media screen and (max-width: 768px){

    .gallery-block>img, .gallery-block>div{
        width: 80% !important;
    }


    .gallery-block__items:nth-child(even){
        animation-name: second-group-animate;
        animation-duration: 2s;

    }
    .gallery-block__items:nth-child(odd){
        animation-name: first-group-animate;
        animation-duration: 2s;

    }

    .services__image{
        display: none;
    }


    .card-section__items>div{
        width: 80%;
        padding-top: 3%;
    }

    .contact-section__block{
        flex-direction: column-reverse;
    }

    .map__coordinates{
        margin-bottom: 10%;
    }

    .form{
        margin: 0;
    }

}