body{
    font-family: 'Open Sans', sans-serif;

}
      /*header*/

.header{
    max-height: 110px;
    text-align: center;
    color: #3E45E8;
    font-size: 48px;
    font-family: 'M PLUS 1', sans-serif;
    padding: 25px 0 31px;
}

.header-span{
    color: #E8C23E;
}

.banner{
    box-sizing: border-box;
    background-image: url("../images/image 1.png");
    height: 803px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 190px;
    padding-left: 80px;

}

     /*Banner*/

.content{
    box-sizing: border-box;
    background-image: url("../images/flagblue.png"), url("../images/flagyellow.png");

    background-repeat: no-repeat;
    background-position: top left, bottom left ;

    height: 271px;
    width: 85%;
    padding-left: 38px;
    padding-top: 2%;


    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;

}

     /*Card*/

.main{
    padding: 80px;
}

.h1{

    font-weight: bold;
    font-size: 40px;

    padding-bottom: 58px;

}

.line{
    border-bottom: 4px #3E45E8 solid;
    width: 402px;
}

.card{

    display: inline-block;
    /*border: 1px #000 solid;*/
    width: 30%;
    vertical-align: top;

    color: #1E8DF2;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: 0 4px 57px rgba(0,0,0,.4);
    
}

.card__margin{
    margin: 0 4.5%;
}

.card__image{
    width: 100%;
}

.card__title{
    font-size: 24px;
    font-weight: 700;

    padding: 15px;
    box-sizing: border-box;

}

.card__subtitle{
    font-weight: 400;
    font-size: 20px;
    color: #E8C23E;

    padding: 15px;
    box-sizing: border-box;
}

    /*support*/

.support__items{
    padding-bottom: 41px;
}

.support__title{

    padding-bottom: 15px;

    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.line__center{
    margin: 0 auto;
}

.support__image{

    display: block;
    margin: 0 auto;
    padding-bottom: 31px;

}

.btn{
    display: block;
    margin: 0 auto;
    max-width: 591px;
    height: 121px;
    width: 591px;


    text-align: center;
    font-weight: 700;
    font-size: 64px;
    text-decoration: none;

    background-color: #2A61F0;
    background-position: center;
    color: #FFFFFF;

}

.btn__text{
    display: inline-block;
    padding-top: 14px;

}

       /*footer*/

.footer{
    line-height: 1.9;
    height: 320px;
    max-height: 320px;
    margin-top: 21px;
    background-color: #2F4A4B;

}

.footer__title{
    text-align: center;
    color: #3E45E8;
    font-size: 48px;
    font-family: 'M PLUS 1', sans-serif;
}

.links{
    /*display: inline-block;*/
    display: block;
    text-align: center;

    font-family: 'Marcellus SC', serif;
    font-size: 36px;
    color: #A89D9D;
    text-decoration: none;

}

.social__media{
    display: block;
    margin: 0 auto;
    max-width: 400px;
}

.media__item{
    padding: 10px 30px 5px 8px;

}

