
body{
    font-family: 'Public Sans', sans-serif;
    line-height: 1.6;
    font-size: 16px ;
    background-color:  #E5E5E5;
    margin: 0;
}

.inner__block{
    background-color: #F9F9F9;

    max-width: 1000px;
    min-width: 700px;
    margin: 0 auto;

    padding: 0 40px;
    box-sizing: border-box;
}

h1[class="title"]{
    font-size: 1.5em;
    font-weight: 700;
    padding: 5% 0;
}

div[class="title"]{
    font-size: 1.25em;
    font-weight: 700;
    padding: 3% 0;
}


.container{
    display: flex;
    justify-content: space-between;
}

.container>div{
    display: flex;
    flex-direction: column;

    width: 48%;
}

label{
    font-weight: 500;
    margin-top: 5%;

}

span[class="red"]{
    color: red;
}

input[value$="116"], input[value$="Banal"]{
    color: #0050D8;
}

.inp__arrow>input, select{
    background: url("../img/arrow_down.svg") no-repeat 99% 46%;
}

.line{
    border-top: 1px solid #D1D1D1;
    margin-top: 15px;
}

.inp-items-right .checkbox{
    margin: 137px 0 30px 0;
}

.checkbox{
    margin-top: 5%;
}

.checkbox>label{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.checkbox input{
    position: absolute;
    width: 0;
    height: 0;
}

.checkbox label span {
    position: absolute;
    top:0;
    left:0;
    width:20px;
    height:20px;
    background-color: #ddd;
    transition: .3s background-color;
}


.checkbox label span:after {
    content: "";
    position: absolute;
    display: none;

    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: #fff solid ;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.checkbox label input:checked ~ span {
    background-color: #0050D8;
}
.checkbox label input:checked ~ span:after {
    display:block;
}

.checkbox label:hover span {
    background-color: #ccc;
}

input, select{
    font-family: inherit;

    border: #ADADAD 1px solid;
    border-radius: 4px;

    font-size: 1em;
    height: 40px;
    padding-left: 2%;
    margin-bottom: 2%;
    width: 100%;
    box-sizing: border-box;

}

select{

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.inp-items-right input[type="date"]{
    background-color: #EFEFEF;
}

input[type="date"]{
    background: url("../img/calendar-line.svg") no-repeat 99% 46%;

}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.search input{
    background: url("../img/search.svg") no-repeat 99% 46%;
}

input:focus{
    background-color: #EFEFEF;

}

.button{
    display: inline-block;
    padding: 2% 92% 8%;
    width: 8%;
}

.button input[type="submit"]{
    border: none;
    background-color: #0050D8;
    color: #fff;
    font-weight: 700;

}

.button input[type="submit"]:active{
    background: #fff;
    color: #0050D8;
    border: #0050D8 3px solid;
}

