
.container{
    margin-left: 3%;
}

.square__group, .circle__group{
    display: inline-block;
    width: 700px;
}


.square__group div, .circle__group div{
    margin-top: 100px;
}



.square{
    height: 512px;
    max-width: 512px;
    background: linear-gradient(to bottom, #2137FC 49%,#E8C23E 50%);
}


.speechify {
    background-image: url(../img/speechify1.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100%;
}




.petcube {
    background-image: url(../img/petcube.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    height: 100%;
}

.telegram {
    background-image: url(../img/plane.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
}


.diia {
    background-image: url(../img/diia.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100%;
}

.circle__group div{

}

.circle{
    height: 512px;
    max-width: 512px;
    background: linear-gradient(to bottom, #2137B4 1%, #e7ffcc 50%, #E8C23E 50%);
    border-radius: 100%;
}

.speechify__circle {
    background-image: url(../img/speechify1.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100%;
}

.petcube__circle {
    background-image: url(../img/petcube.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100%;
}

.telegram__circle {
    background-image: url(../img/plane.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100%;
}

.diia__center {
    background-image: url(../img/diia.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100%;
}

.diia__group{
    display: inline-block;
    width: 2000px;
}


.diia__group div{
    display: inline-block;
    height: 512px;
    width: 512px;
    margin-right: 80px;
}



.diia__black1{
    background-color: black;

    background-image: url("../img/flag.png");
    background-repeat: no-repeat;
    background-position: 50% 82%;
}

.diia__black2{
    background-color: black;

    background-image: url("../img/flag.png");
    background-repeat: no-repeat;
    background-position: 5% 5%
}


.diia__black3{
    background-color: black;

    background-image: url("../img/flag.png"), url("../img/flag.png");
    background-repeat: no-repeat;
    background-position: 5% 5%, 95% 5%;
}

.square__group, .circle__group{
    display: inline-block;
    width: 700px;
}


.square__group div, .circle__group div{
    margin-top: 100px;
}