body{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 10px;
}

.wrapper{
    /*max-width: 1920px;*/
    /*margin: 0 auto;*/
}

.black__line{
    border-bottom: 1px #C4C4C4 solid;

}

.navbar{
    background-color: #FFFFFF !important;
}

form{
    display: flex;
    width: 40%;
}

form>input{
    border: 2px #323232 solid !important;
    padding-left: 17% !important;
    background: url("../images/header/pin.svg") no-repeat 5% 50%;
}

.container-fluid>a:first-child{
    padding-right: 4%;
}

.button{
    font-size: 10px;
}

.btn-success{
    background-color: #00D008;
    border-color: #00D008;
}

.btn-secondary{

    margin: 0 1% 0 40%;
    background-color: #EF781A;
    border-color: #EF781A;
}

.btn-secondary:hover{
    background-color: #7a3b09;
    border-color: #7a3b09;
}

.btn-secondary:focus{
    background-color: #7a3b09;

    border-color: #7a3b09;

}


.header__title{
    font-size: 3.6em;
    font-weight: 800;
    color: #000;
    padding-top: 6%;
    padding-bottom: 30px;
}

.box__shadow{
    transform: rotate(180deg);
    box-shadow: 0 -3px 5px 2px rgb(0 0 0 / 25%);
}

                                                    /*Main*/

.arrow{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background:url("../images/main/arrow.svg") 50% 50% no-repeat, #fff no-repeat ;
    top: 82%;
    left: 90%;
}

.main-inner{
    background: #ECECEC;
}

.menu__items{
    padding-top: 2%;
}

.menu__items>a{
    color: #7B7B7B;
    font-weight: 500;
    font-size: 1.8em;
    border-radius: 10px;

    transition:all .5s;
}

.menu__items>a:hover{
    background-color: #C4C4C4;
    color: #343434;
}

.section-title{
    font-size: 2.4em;
    font-weight: 700;
    padding:.7rem 0.5rem;
}

.d-flex>:last-child{
    margin-right: 0;
}

.card{
    margin-right: 3%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

}



.card-body>:last-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card-icon>svg path{
    transition: all .3s ease;
    cursor: pointer;
}

.card-icon>svg:hover path{
    fill: #69A042;
    stroke: #69A042;
}

.card__btn{
    position: relative;
    color: #000;
    /*padding-left: 0;*/


    font-size: 1.8em;
    padding: 5px 10%;

}

.card__btn:focus{
    box-shadow: none;
}


.card__btn:hover::after{
    opacity: 1;
    color: #FFFFFF;
}

.card__btn:hover{
    color: #FFFFFF;
}

.card__btn::after{
    content: "В корзину";
    position: absolute;
    background: #FF6C01;
    width: 113px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
    right: 0;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all .6s;

}


.card-title{
    font-size: 1.8em;
    font-weight: 500;
    color: #000;
}

.card-text{
    color: #A1A1A1;
    height: 24%;
}

.info-block{
    background-color: #fff;
    line-height: 2.1;
    border-radius: 10px;
    padding: 30px;
}

.info-block>:nth-child(odd){
    color: #999999;
    font-size: 1.4em;
}

.info-block>:nth-child(even){
    color: #000;
    font-size: 1.6em;
}

.p-2>.section-title{
    padding: 1.2rem 0;
}


                                                                                /*CART*/

#cart-section{
    width: 40%;

}

.cart-block{
    font-weight: 500;
    line-height: 2.3;
    background-color: #fff;
    border-radius: 3px;
    width: 400px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}

.cart__title{
    font-size: 1.8em;
    padding: 2% 10%;

}

.cart-block__item{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 2% 10%;

}

.menu__list+div{
    position: relative;
}

.menu__list+div::after{
    position: absolute;
    content: "-";
    background: #FF6C01 no-repeat;
    cursor: pointer;
    width: 28px;
    height: 28px;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 2;
    top: 2px;
    left: 12px;
}

.menu__list+div::before{
    position: absolute;
    content: "+";
    background: #FF6C01 no-repeat;
    cursor: pointer;
    width: 28px;
    height: 28px;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 2;
    top: 2px;
    left: -34px;
}




.cart__item li{
    font-size: 12px;
    color: #979797;
}

.cart__btn{
    padding-bottom: 6%;
    cursor: pointer;
}

.cart__btn>div{
    display: flex;
    justify-content: space-between;
    background-color: #FF6C01;
    color: #fff;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 700;
    padding: 2% 4%;
    width: 92%;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


                                                                            /*FOOTER*/

.footer-inner{
    background-color: #000;

}

.footer-inner>.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10px;
    font-size: 18px;
    max-width: 1218px;
}

.footer__link:hover{
    color: #FFFFFF;
}

.footer__link{
    text-decoration: none;
    color: #fff;
    padding-right: 15px;
}

.cdn{
    display: none;
    margin-top: 5%;
}


@media screen and (max-width: 1404px) {
    #cart-section{
        display: none !important;
    }

    .cdn{
        display: block;
    }

    #main-section{
        width: 85% !important;
        margin: 0 auto;
    }
}

@media screen and (max-width: 993px) {
    .btn-secondary {
        margin: 0 1% 0 3%;
    }

    form{
        display: inline-block !important;
        width: 55%;
        margin: 2% 0;
    }

    .btn-secondary, .btn-success{
        display: inline-block;
        vertical-align: baseline;
    }

    .section-card-group{
        display: flex;
    }

    .section-card-group .d-flex{
        flex-direction: column;
    }

    .card{
        margin-bottom: 8%;
    }

}

@media screen and (max-width: 768px){
    .section-card-group{
        flex-direction: column;
        margin: 0 auto;
    }

}

@media screen and (max-width: 534px){
    form{
        display: flex;
        width: 100%;
    }

    .btn-secondary{
        margin: 0;
    }

    .arrow{
        left: 85%;
    }

    .cdn{
        width: 100%;
    }

    .info-block{
        font-size: 9px;
    }

    .cart-block__item{
        font-size: 12px !important;
    }

    .cart__btn>div{
        font-size: 14px !important;
    }

    .footer-inner>.container{
        font-size: 14px;
    }

    .menu__list+div::before {
        width: 24px;
        height: 24px;
        left: -29px;
    }

    .menu__list+div::after {
        width: 24px;
        height: 24px;
        left: 10px;
    }

}

@media screen and (max-width: 469px) {
    .footer__link{
        padding-right: 5px;
    }

    .footer__link>img{
        width: 35px;
    }
}
    
