body{
    font-family: 'PT Sans', sans-serif;
    background-color: #dbdbdb;
    margin: 0;
}

.header{
    width: 100%;
}


.header__section1{
    display: flex;
    justify-content: space-between;

    background:#202846;
}

.logo{
    padding: 15px 6%;
}


.nav{
    display: flex;
    align-items: center;

    font-size: 24px;
    font-weight: bold;


}



.nav__item{
    border-right: 3px #FFFFFF solid;

    white-space: nowrap;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 25px;
}


.header__section2{
    font-size: 48px;
    font-style: italic;
    color: #202846;
    background: #C6C6DC;

    box-sizing: border-box;
    padding: 35px 226px;

}


.nav svg{
    vertical-align: middle;
    padding-left: 37px;
}

.menu__item2{
    color: #FFFFFF;
    font-size: 28px;
    padding-right: 60px;
}

                          /*main*/


.acc{
    background-color: #E8E8E8;
    height: 89px;
    font-size: 28px;

    line-height: 3.2;
    margin: 60px 0;
}

.acc__title{
    text-align: center;
    color: #000;
}

.triangle{
    position: relative;
    display: inline-block;

    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid #000;

    top: -103%;
    left: 95%;


}

.main{
    max-width: 1489px;
    margin: 0 auto;
    font-size: 22px;
    color: #202846;
    font-weight: 400;

}

.card{
    position: relative;
    margin-bottom: 36px;

    background-color: #BDBDC6;
}


.card:hover svg path{
    fill: #ebab34;
}



.line{
    border-bottom: 3px #fff solid;
    width: 712px;
}

.card__title{
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
}

.card__subtitle{
    margin-top: 10px;
    background-color: #D7D7DD;
    width: 712px;
    text-align: center;
    padding: 40px 15px;
    box-sizing: border-box;

}

.card__text, .card__image{
    display: inline-block;
    vertical-align: middle;

}

.card__image{
    padding: 28px 100px;
}

.card svg{
    float: right;
    padding: 8px;
}
                        /*button*/

.btn{
    display: block;
    position: absolute;

    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #202846;
    width: 200px;
    margin: -4% 89%;
    height: 60px;
    line-height: 2.6;
    border-radius: 36px;

    transition: background-color .2s linear, color .2s linear;
}

.btn:hover{
    background-color: #fff;
    color: #202846;
}

.footer{
    background-color: #202846;
    margin-top: 87px;
    font-size: 36px;
    font-style: italic;
    color: #fff;
    padding-left: 90px;
    line-height: 2.55;
}

.arrow svg{

    position:fixed;
    top: 83%;
    left: 91%;

}

